.address-info {
    .img-row {
        width: 13rem;
        border-radius: 50%;
    }
    .info-attr {
        color: #afabab;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .info-val {
        color: #706f6f;
        font-weight: 600;
    }

    .lat-lng {
        font-size: 0.7rem;
    }
}
